/* Estilos Padrão */
* {
  margin: 0;
  padding: 0;
  outline: 0;
  box-sizing: border-box;
  list-style: none;
  text-decoration: none;
  font-family: Arial;
}
button{
  cursor: pointer;
}

  /* Inicio do Header */

.menu {
  background-color: blue;
  width: 100%;
  height: 60px;
  display: flex;
  justify-content: space-around;
  align-items: justify;
  flex-direction: column;
}
ul,
li {
  display: flex;
  justify-content: space-around;
  margin: 10px 5px 0px 5px;
  font-size: 18px;
  font-weight: 700;
  color: #fff;
}
.escuro {
  background-color: rgb(146, 20, 146);
  color: #fff;
  font-weight: 800;
  align-items: justify;
  margin-top: 22px;
  width: 170px;
  height: 45px;
  font-size: 24px;
  border: none;
}



.Dark {
  background-color: #000;
  font-weight: 800;
}
.darkMenu li {
  color: rgb(37, 102, 187);
  font-size: 23px;
}
.claro.buttonDark {
  background-color: cornflowerblue;
  color: #fff;
  font-weight: 800;
  border: none;
  text-align: center;
}
.alinhar {
  padding: 25px;
  align-items: center;
  margin-bottom: 15%;
  margin-left: 5%;
}
.claro {
  display: none;
  align-items: justify;
  margin-top: 30px;
  width: 160px;
  height: 35px;
  font-size: 25px;
}

/* Fim do Header */


/* Inicio do Footer */
footer{
  width: 100%;
  background-color: rgb(160, 205, 231);
}
.dark-footer{
  width: 100%;
  background-color: rgb(13, 104, 157);
  padding: 2%;
  margin-top: 10px;
  text-align: center;
}
.logos1{
  background-color: rgb(160, 205, 231);
  width: 15%;
  margin-top: 20px;
  
  border-radius: 30px;
}
.logos2{
  background-color: rgb(160, 205, 231);
  width: 30%;
  margin-top: 30px;
  border-radius: 30px;
}
#qrcode{
  background-color: rgb(160, 205, 231);
  width: 15%;
  margin-left: 7%;
}
#copy{
  margin-top: 1%;
  padding-bottom: 1%;
  padding-top: 3%;
  margin-left: 7%;
}
.links1{
  font-size: 30px;
  text-decoration: underline;
  text-transform: uppercase;
  color: #cdcefe;
  display: none;
}
.links2{
  font-size: 30px;
  text-decoration: underline;
  text-transform: uppercase;
  color: #cdcefe;
  display: none;
}
/* Fim do Footer */






